<router-outlet></router-outlet>

<h1>Example List App</h1>
<ul>
  <li *ngFor="let user of users">
    {{user.name}}
  </li>
</ul>

<button (click)="addUser()">Add</button>

<h1>TrackBy Example</h1>
<ul>
  <li *ngFor="let user of users; trackBy: trackByFn">
    {{user.name}}
  </li>
</ul>
<button (click)="addUser()">AddTrackBy</button>
<br>
<br>

<a routerLink="asayfasi"> a sayfasına git</a>
<br>
<a routerLink="bsayfasi"> b sayfasına git</a>
<br>
<a routerLink="subscribeSayfasi"> Subcribe sayfasına git</a>
<br>
<br>
<a routerLink="presentationLogicSayfasi"> presentationLogicSayfasi sayfasına git</a>
<br>

